# Python
__pycache__/
*.pyc

# Node
node_modules/

# Terraform
*.tfstate
*.tfstate.backup

# Docker
.env
.env.*
!.env.example        # ← allow the example file

# K8s secrets (never commit real secrets)
k8s/secret.yaml
k8s/*-secret.yaml
k8s/secrets.yaml

# Logs
*.log

# VSCode
.vscode/

# OS
.DS_Store
coverage/
node_modules/
# Node
app/node_modules/
app/coverage/
node_modules/

# Secrets
k8s/secrets.yaml
docker/.env
